# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/

# Environment
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*
logs/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Prisma
backend/prisma/migrations/

# Nginx certs (real certs — never commit)
nginx/certs/

# Docker
.dockerignore

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfvars
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/*.tfplan
